@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #674baf url("../images/bg-mobile.svg") no-repeat top center;
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 52rem;
  padding: 3.2rem 3.6rem;
}

.header {
  margin-bottom: 5.3rem;
}

.header__logo {
  width: 13rem;
}

.header__logo img {
  width: 100%;
}

.hero-image {
  margin-bottom: 5.8rem;
}

.hero-image img {
  width: 100%;
}

.content {
  margin-bottom: 6.3rem;
  text-align: center;
}

.heading {
  margin: auto;
  max-width: 30rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
}

.text {
  margin: 1.5rem 0 2.3rem;
  line-height: 155%;
  color: white;
}

.button {
  padding: 1.1rem;
  min-width: 65%;
  background-color: white;
  color: #674baf;
  border: 1px solid transparent;
  border-radius: 4rem;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ded8ee;
}

.button:focus {
  outline: none;
  border: 1px solid white;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.social__link:hover {
  background-color: white;
}

.social__link:hover .social__icon {
  color: #674baf;
}

.social__icon {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  color: white;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (min-width: 768px) {
  .container {
    max-width: 70%;
  }
  .header__logo {
    width: 21rem;
  }
  .heading {
    max-width: 45rem;
    font-size: 4rem;
  }
  .text {
    margin: 1.8rem 0 2.3rem;
    font-size: 1.8rem;
  }
  .button {
    padding: 1.7rem 6.4rem;
    min-width: unset;
    font-size: 1.8rem;
    -webkit-box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.3);
  }
  .social__link {
    margin: 0 0.7rem;
    width: 4rem;
    height: 4rem;
  }
  .social__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (min-width: 992px) {
  body {
    background: #674baf url("../images/bg-desktop.svg") no-repeat left center;
    background-size: auto 100%;
  }
  .container {
    padding: 5.5rem 7.2rem 0;
    max-width: 144rem;
  }
  .header {
    margin-bottom: 8rem;
  }
  .content {
    margin-bottom: 1.8rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 41%;
        grid-template-columns: auto 41%;
    gap: 5.5rem;
    text-align: left;
  }
  .content .hero-image {
    margin: 0;
  }
  .content .heading {
    margin: 0;
  }
  .content .text {
    width: 97%;
  }
  .content .button {
    margin: 0;
  }
  .social {
    margin-bottom: 2rem;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1440px) {
  .heading {
    padding-top: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */